@charset "UTF-8";
/* =============================================================================
                   Mandy Made This Custom Theme - © 2014 MandyMadeThis.com 
   ========================================================================== */
/*normalize*/
/* line 3, sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 3, sass/_normalize.scss */
audio, canvas, video {
  display: inline-block; }

/* line 3, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 3, sass/_normalize.scss */
[hidden] {
  display: none; }

/* line 3, sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 3, sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 3, sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 3, sass/_normalize.scss */
h1 {
  font-size: 2em; }

/* line 3, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 3, sass/_normalize.scss */
b, strong {
  font-weight: 700; }

/* line 3, sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 3, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 3, sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 3, sass/_normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 3, sass/_normalize.scss */
q {
  quotes: \201C \201D \2018 \2019; }

/* line 3, sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 3, sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 3, sass/_normalize.scss */
sup {
  top: -.5em; }

/* line 3, sass/_normalize.scss */
sub {
  bottom: -.25em; }

/* line 3, sass/_normalize.scss */
img {
  border: 0; }

/* line 3, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 3, sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/* line 3, sass/_normalize.scss */
button, input[type="submit"].searchsubmit, .comment-form input[type=submit], input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 3, sass/_normalize.scss */
button, input[type="submit"].searchsubmit, .comment-form input[type=submit], input {
  line-height: normal; }

/* line 3, sass/_normalize.scss */
button, input[type="submit"].searchsubmit, .comment-form input[type=submit], html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 4, sass/_normalize.scss */
button[disabled], input[disabled][type="submit"].searchsubmit, .comment-form input[disabled][type=submit], input[disabled] {
  cursor: default; }

/* line 4, sass/_normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

/* line 4, sass/_normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 4, sass/_normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 4, sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 4, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, sass/_normalize.scss */
body, .service h4, .service p, .service li, figure {
  margin: 0; }

/* line 4, sass/_normalize.scss */
legend, button::-moz-focus-inner, input[type="submit"].searchsubmit::-moz-focus-inner, .comment-form input[type=submit]::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*box-sizing*/
/* line 6, sass/_normalize.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*clearfix*/
/* line 10, sass/_normalize.scss */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* line 19, sass/_normalize.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 33, sass/_variables.scss */
.orange {
  color: #feae22; }

/* line 37, sass/_variables.scss */
.purple {
  color: #a81ace; }

/* line 41, sass/_variables.scss */
.blue {
  color: #0d6eee; }

/* line 45, sass/_variables.scss */
.emerald {
  color: #00a99d; }

/* line 49, sass/_variables.scss */
.green {
  color: #80db2f; }

/* line 53, sass/_variables.scss */
.yellow {
  color: #ffde17; }

/* line 57, sass/_variables.scss */
.white {
  color: #f6f6f6; }

/* line 61, sass/_variables.scss */
.navy {
  color: #001324; }

/* line 67, sass/_variables.scss */
.orangeBG {
  background: #feae22; }

/* line 71, sass/_variables.scss */
.purpleBG {
  background: #a81ace; }

/* line 75, sass/_variables.scss */
.blueBG {
  background: #0d6eee; }

/* line 79, sass/_variables.scss */
.emeraldBG {
  background: #00a99d; }

/* line 83, sass/_variables.scss */
.greenBG {
  background: #80db2f; }

/* line 87, sass/_variables.scss */
.yellowBG {
  background: #ffde17; }

/* line 91, sass/_variables.scss */
.navyBG {
  background: #001324; }

/* line 95, sass/_variables.scss */
.whiteBG {
  background: #f6f6f6; }

/* =============================================================================
                   TYPOGRAPHY 
   ========================================================================== */
/* line 10, sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px; }

/* line 16, sass/_typography.scss */
h1 {
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 5px;
  font-weight: 900; }

/* line 23, sass/_typography.scss */
h2 {
  position: relative;
  font-size: 60px;
  line-height: 45px;
  margin-top: 0;
  font-weight: 900; }
/* line 29, sass/_typography.scss */
h2.rheader {
  float: right; }

/* line 34, sass/_typography.scss */
h3 {
  font-size: 33px;
  line-height: 38px;
  font-weight: 400; }

/* line 40, sass/_typography.scss */
h4 {
  font-size: 26px;
  line-height: 31px;
  font-weight: 400; }

/* line 46, sass/_typography.scss */
h5 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400; }

/* line 52, sass/_typography.scss */
h6 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 400; }

/* =============================================================================
                   Navigation 
   ========================================================================== */
/* line 5, sass/_navigation.scss */
nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center; }
/* line 10, sass/_navigation.scss */
nav li {
  display: inline-block;
  white-space: nowrap;
  margin-right: -5px;
  padding: 0.73em 0;
  background: #090909; }
/* line 16, sass/_navigation.scss */
nav li:hover a {
  color: #001324; }
/* line 19, sass/_navigation.scss */
nav li:first-child {
  border-bottom: 3px solid #ffde17; }
/* line 22, sass/_navigation.scss */
nav li:nth-child(2) {
  border-bottom: 3px solid #a81ace; }
/* line 25, sass/_navigation.scss */
nav li:nth-child(3) {
  border-bottom: 3px solid #0d6eee; }
/* line 28, sass/_navigation.scss */
nav li:nth-child(4) {
  border-bottom: 3px solid #00a99d; }
/* line 31, sass/_navigation.scss */
nav li:nth-child(5) {
  border-bottom: 3px solid #80db2f; }
/* line 34, sass/_navigation.scss */
nav li:last-child {
  border-bottom: 3px solid #feae22;
  margin-right: 0; }
/* line 38, sass/_navigation.scss */
nav li:first-child:hover {
  background: #ffde17; }
/* line 41, sass/_navigation.scss */
nav li:nth-child(2):hover {
  background: #a81ace; }
/* line 44, sass/_navigation.scss */
nav li:nth-child(3):hover {
  background: #0d6eee; }
/* line 47, sass/_navigation.scss */
nav li:nth-child(4):hover {
  background: #00a99d; }
/* line 50, sass/_navigation.scss */
nav li:nth-child(5):hover {
  background: #80db2f; }
/* line 53, sass/_navigation.scss */
nav li:last-child:hover {
  background: #feae22; }
/* line 56, sass/_navigation.scss */
nav li a {
  text-transform: uppercase;
  font-size: 20px;
  padding: 1.2em 1.5em;
  color: #f6f6f6; }

/* line 69, sass/_navigation.scss */
header.sticky nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999999; }

/* Global Classes / Wordpress Specific */
/* line 2, sass/_base.scss */
.aligncenter {
  text-align: center;
  margin: 0 auto; }

/* line 7, sass/_base.scss */
.alignleft {
  float: left; }

/* line 11, sass/_base.scss */
.alignright {
  float: right; }

/* line 15, sass/_base.scss */
img.alignleft {
  padding-right: 5px; }

/* line 19, sass/_base.scss */
img.alignright {
  padding-left: 5px; }

/* line 23, sass/_base.scss */
.clear {
  width: 100%;
  float: left;
  clear: both; }

/* =============================================================================
                   Default Styling 
   ========================================================================== */
/* line 33, sass/_base.scss */
body, .service h4, .service p, .service li {
  background: linear-gradient(45deg, #001324 25%, #090909 25%, #090909 50%, #001324 50%, #001324 75%, #090909 75%, #090909);
  background-size: 150px 150px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #001324; }

/* line 43, sass/_base.scss */
body:not(.home) header, .service h4:not(.home) header, .service p:not(.home) header, .service li:not(.home) header {
  margin: 0; }

/* line 47, sass/_base.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  background: #f6f6f6;
  padding: 5%; }

/* line 53, sass/_base.scss */
a {
  text-decoration: none;
  font-weight: 400;
  color: #f6f6f6; }

/* line 59, sass/_base.scss */
button, input[type="submit"].searchsubmit, .comment-form input[type=submit] {
  outline: none;
  border: none;
  background: #001324;
  color: #f6f6f6;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0.8em 1.4em;
  white-space: nowrap;
  transition: all 0.6s ease-in-out; }

/* line 71, sass/_base.scss */
header {
  display: block;
  margin: 25% auto 25%; }

/* line 76, sass/_base.scss */
.logoWrapper {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 0; }

/* line 83, sass/_base.scss */
.innerWrapper {
  width: 90%;
  margin: 0 auto;
  clear: both; }

/* line 89, sass/_base.scss */
.centerContent {
  width: 80%;
  margin: 0 auto;
  clear: both; }

/* =============================================================================
                   CONTACT SECTION 
   ========================================================================== */
/* line 98, sass/_base.scss */
.contact {
  width: 100%;
  margin: 0 auto;
  background: #feae22;
  padding: 10px;
  height: 175px; }
/* line 103, sass/_base.scss */
.contact h2 {
  padding: 64px 0 0; }
/* line 106, sass/_base.scss */
.contact a {
  font-weight: bold;
  text-decoration: none;
  color: #001324; }
/* line 110, sass/_base.scss */
.contact a:hover {
  color: #f6f6f6; }
/* line 113, sass/_base.scss */
.contact a.close {
  position: relative;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 99999999; }
/* line 121, sass/_base.scss */
.contact ul {
  margin: 0;
  padding: 45px 50px; }
/* line 125, sass/_base.scss */
.contact li {
  position: relative;
  padding: 0 3% 0 0;
  display: inline-block; }
/* line 129, sass/_base.scss */
.contact li span.bubble {
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out; }
/* line 134, sass/_base.scss */
.contact li:hover span.bubble {
  position: absolute;
  top: -52px;
  left: -60px;
  display: block;
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  padding: 6px;
  text-align: center;
  width: 180px;
  border-radius: 10px;
  opacity: 1; }
/* line 150, sass/_base.scss */
.contact li:hover span:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #f6f6f6 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
  left: 6em; }
/* line 163, sass/_base.scss */
.contact li svg {
  fill: #001324;
  width: 60px;
  height: 60px;
  position: relative;
  top: 15px;
  vertical-align: baseline; }
/* line 170, sass/_base.scss */
.contact li svg:hover {
  fill: #f6f6f6; }

/* line 180, sass/_base.scss */
body.blog .contact ul, .service h4.blog .contact ul, .service p.blog .contact ul, .service li.blog .contact ul, body.single .contact ul, .service h4.single .contact ul, .service p.single .contact ul, .service li.single .contact ul {
  padding: 88px 50px; }
/* line 183, sass/_base.scss */
body.blog .contact h2, .service h4.blog .contact h2, .service p.blog .contact h2, .service li.blog .contact h2, body.single .contact h2, .service h4.single .contact h2, .service p.single .contact h2, .service li.single .contact h2 {
  padding: 105px 0; }

/* =============================================================================
                   ABOUT SECTION 
   ========================================================================== */
/* line 191, sass/_base.scss */
.about {
  background: url(images/mandy-nobg.png) no-repeat #ffde17;
  background-size: contain;
  background-position: 95% 90%;
  padding: 1% 1% 0 1%;
  width: 100%;
  margin: 0 auto; }
/* line 197, sass/_base.scss */
.about ::-moz-selection {
  background: #001324;
  color: #ffde17; }
/* line 201, sass/_base.scss */
.about ::selection {
  background: #001324;
  color: #ffde17; }

/* line 207, sass/_base.scss */
.aboutHeadlines {
  margin: 0 4%;
  padding: 3% 0; }
/* line 210, sass/_base.scss */
.aboutHeadlines h1 {
  margin: 0; }
/* line 213, sass/_base.scss */
.aboutHeadlines h3 {
  text-transform: none;
  font-size: 28px;
  line-height: 30px;
  margin: 0; }

/* line 222, sass/_base.scss */
.selectionY ::-moz-selection {
  background: #ffde17; }
/* line 225, sass/_base.scss */
.selectionY ::selection {
  background: #ffde17; }

/* line 230, sass/_base.scss */
button.hire, input.hire[type="submit"].searchsubmit, .comment-form input.hire[type=submit] {
  float: right; }
/* line 232, sass/_base.scss */
button.hire:hover, input.hire[type="submit"].searchsubmit:hover, .comment-form input.hire[type=submit]:hover {
  background: #ffde17; }
/* line 235, sass/_base.scss */
button.hire:hover a, input.hire[type="submit"].searchsubmit:hover a, .comment-form input.hire[type=submit]:hover a {
  color: #001324; }

/* =============================================================================
                   Before Work - Circles 
   ========================================================================== */
/* line 243, sass/_base.scss */
.infographics {
  width: 100%;
  margin: 0 auto;
  background: #a81ace;
  padding: 3%;
  color: #f6f6f6; }
/* line 248, sass/_base.scss */
.infographics ::-moz-selection {
  background: #001324;
  color: #a81ace; }
/* line 252, sass/_base.scss */
.infographics ::selection {
  background: #001324;
  color: #a81ace; }

/* line 258, sass/_base.scss */
.infographicWrap {
  float: left;
  width: 23%;
  margin-right: 2%;
  text-align: center;
  padding: 4% 0; }
/* line 264, sass/_base.scss */
.infographicWrap h4 {
  margin: 5px 0 0 0;
  font-size: 21px; }
/* line 268, sass/_base.scss */
.infographicWrap p {
  margin: 0;
  text-align: left; }
/* line 272, sass/_base.scss */
.infographicWrap svg {
  width: 100px;
  height: 100px;
  fill: #f6f6f6;
  transform-origin: top left;
  margin: 25%;
  transition: all 0.7s ease-in-out; }
/* line 279, sass/_base.scss */
.infographicWrap svg:hover {
  transform: rotate(-6deg) scale(1.1); }

/* line 287, sass/_base.scss */
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #f6f6f6;
  margin: 0 auto; }

/* line 295, sass/_base.scss */
.info {
  line-height: 1.5em;
  font-size: 0.9em;
  margin: 0 auto; }

/* =============================================================================
                   Work Section 
   ========================================================================== */
/* line 305, sass/_base.scss */
#work ::-moz-selection {
  background: #a81ace; }
/* line 308, sass/_base.scss */
#work ::selection {
  background: #a81ace; }

/* line 313, sass/_base.scss */
ul.filters {
  list-style: none;
  margin: 0;
  padding: 0 4px;
  text-align: center;
  clear: both; }
/* line 319, sass/_base.scss */
ul.filters li {
  padding: 0;
  margin: 0 1px;
  display: inline-block; }
/* line 324, sass/_base.scss */
ul.filters button, ul.filters input[type="submit"].searchsubmit, ul.filters .comment-form input[type=submit], .comment-form ul.filters input[type=submit] {
  white-space: nowrap;
  border-radius: 2px;
  padding: 6px 8px;
  font-size: 14px;
  color: #f6f6f6;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  background: #001324;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.6s ease-in-out; }
/* line 337, sass/_base.scss */
ul.filters button:hover, ul.filters input[type="submit"].searchsubmit:hover, ul.filters .comment-form input[type=submit]:hover, .comment-form ul.filters input[type=submit]:hover {
  background: #a81ace; }

/* line 343, sass/_base.scss */
.workItems {
  margin: 0 auto 10%;
  padding: 0;
  list-style: none;
  text-align: center; }
/* line 348, sass/_base.scss */
.workItems li {
  display: inline-block;
  width: 300px;
  margin: 0;
  padding: 1%;
  text-align: left;
  position: relative; }
/* line 356, sass/_base.scss */
.workItems figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
/* line 361, sass/_base.scss */
.workItems figure img {
  max-width: 100%;
  display: block; }
/* line 365, sass/_base.scss */
.workItems figure:hover figcaption {
  transform: translateX(0); }
/* line 369, sass/_base.scss */
.workItems figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  background: #001324;
  color: #f6f6f6;
  transform: translateX(-100%);
  transform-origin: center left;
  transition: all 0.6s ease-in-out; }
/* line 381, sass/_base.scss */
.workItems figcaption h3 {
  font-weight: 800;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0;
  color: #a81ace; }
/* line 390, sass/_base.scss */
.workItems figcaption a {
  color: #a81ace;
  font-weight: bold;
  transition: all 0.6s ease-in-out; }
/* line 394, sass/_base.scss */
.workItems figcaption a:hover {
  color: #f6f6f6; }
/* line 398, sass/_base.scss */
.workItems figcaption a.checkButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2% 8px;
  display: inline-block;
  background: #a81ace;
  color: #f6f6f6; }
/* line 409, sass/_base.scss */
.workItems figcaption p {
  font-size: 16px;
  line-height: 21px;
  margin: 0; }
/* line 413, sass/_base.scss */
.workItems figcaption p.sub {
  font-size: 12px; }

/* line 423, sass/_base.scss */
.isotope-item {
  z-index: 2; }

/* line 427, sass/_base.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/* =============================================================================
                   SERVICES 
   ========================================================================== */
/* line 435, sass/_base.scss */
.spacer, .assets {
  width: 100%;
  margin: 0 auto;
  padding: 5% 0; }
/* line 438, sass/_base.scss */
.spacer h2, .assets h2 {
  margin: 0; }

/* line 444, sass/_base.scss */
.services a {
  border-bottom: 1px solid #0d6eee; }

/* line 449, sass/_base.scss */
.service {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
/* line 451, sass/_base.scss */
.service ::-moz-selection {
  background: #0d6eee;
  color: #f6f6f6; }
/* line 455, sass/_base.scss */
.service ::selection {
  background: #0d6eee;
  color: #f6f6f6; }
/* line 459, sass/_base.scss */
.service h3.serviceHeader {
  border: none;
  border-radius: 0;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background: #f6f6f6;
  border-bottom: 1px solid #AAA;
  box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.4); }
/* line 470, sass/_base.scss */
.service h3.serviceHeader.ui-accordion-header-active {
  font-weight: bold;
  border-bottom: 3px solid #0d6eee; }
/* line 475, sass/_base.scss */
.service h4, .service p, .service li {
  background: #f6f6f6; }
/* line 479, sass/_base.scss */
.service h4 {
  display: inline-block;
  font-size: 1em;
  font-weight: bold; }
/* line 484, sass/_base.scss */
.service a {
  color: #0d6eee;
  transition: all 0.6s ease-in-out; }
/* line 488, sass/_base.scss */
.service ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 494, sass/_base.scss */
.service li:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #0d6eee;
  padding-right: 5px;
  font-size: 20px; }

/* line 504, sass/_base.scss */
.serviceContent.ui-widget-content {
  padding: 4%;
  background: #f6f6f6;
  font-size: .9em;
  font-weight: 300;
  line-height: 20px;
  border: none;
  border-radius: 0; }

/* line 514, sass/_base.scss */
button.quote, input.quote[type="submit"].searchsubmit, .comment-form input.quote[type=submit] {
  float: right; }
/* line 516, sass/_base.scss */
button.quote a, input.quote[type="submit"].searchsubmit a, .comment-form input.quote[type=submit] a {
  color: #f6f6f6; }
/* line 519, sass/_base.scss */
button.quote:hover, input.quote[type="submit"].searchsubmit:hover, .comment-form input.quote[type=submit]:hover {
  background: #0d6eee; }

/* =============================================================================
                   ASSETS 
   ========================================================================== */
/* line 527, sass/_base.scss */
.assets {
  padding: 5%; }
/* line 529, sass/_base.scss */
.assets ::-moz-selection {
  background: #001324;
  color: #00a99d; }
/* line 533, sass/_base.scss */
.assets ::selection {
  background: #001324;
  color: #00a99d; }
/* line 537, sass/_base.scss */
.assets h2 {
  float: right; }
/* line 540, sass/_base.scss */
.assets h3 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 5% 0 0;
  padding-top: 1%;
  word-spacing: 3px;
  letter-spacing: normal; }

/* line 552, sass/_base.scss */
.lists {
  display: block;
  margin: 1% auto 0;
  float: left;
  width: 100%;
  text-align: center; }
/* line 558, sass/_base.scss */
.lists h5 {
  margin: 7% 0 2%;
  background: #f6f6f6;
  border-radius: 2px;
  padding: 2% 4%;
  display: inline-block; }

/* line 567, sass/_base.scss */
.col3 {
  float: left;
  margin: 0;
  padding: 0;
  width: 33%;
  list-style: none; }
/* line 573, sass/_base.scss */
.col3 li {
  padding: 3% 4%;
  text-align: center;
  margin-left: -21px; }
/* line 577, sass/_base.scss */
.col3 li:last-of-type {
  padding-bottom: 30px; }
/* line 581, sass/_base.scss */
.col3 a {
  padding: 3% 4%; }

/* line 586, sass/_base.scss */
.dev li a:before, .web li a:before, .other li a:before {
  font-family: FontAwesome;
  padding-right: 7px;
  visibility: hidden; }

/* line 592, sass/_base.scss */
.dev li a:before {
  content: "\f0c3"; }

/* line 596, sass/_base.scss */
.web li a:before {
  content: "\f109"; }

/* line 600, sass/_base.scss */
.other li a:before {
  content: "\f164"; }

/* line 604, sass/_base.scss */
.col3 li:hover a {
  background: #001324;
  color: #00a99d;
  border-radius: 3px; }

/* line 610, sass/_base.scss */
.dev li:hover a:before, .web li:hover a:before, .other li:hover a:before {
  visibility: visible;
  color: #00a99d; }

/* =============================================================================
                   Footer 
   ========================================================================== */
/* line 619, sass/_base.scss */
footer {
  padding: 1% 0;
  margin-top: 2%;
  clear: both;
  color: #444; }
/* line 624, sass/_base.scss */
footer p.copyright {
  color: #80db2f;
  text-align: center; }

/* line 630, sass/_base.scss */
.siteAbout {
  background: rgba(0, 19, 36, 0.8);
  border: 1px solid #001324;
  border-radius: 3px;
  margin: 0 auto;
  width: 80%;
  padding: 0 2%; }
/* line 637, sass/_base.scss */
.siteAbout h4 {
  margin: 18px 0 0;
  display: inline-block; }
/* line 641, sass/_base.scss */
.siteAbout a {
  color: #444;
  font-weight: bold;
  transition: all 1s ease-in-out; }
/* line 645, sass/_base.scss */
.siteAbout a:hover {
  color: #80db2f; }

/* =============================================================================
                   Blog-Universal 
   ========================================================================== */
/* line 4, sass/_blog.scss */
input[type="submit"].searchsubmit {
  background: none;
  border: 2px solid #80db2f;
  color: #80db2f; }
/* line 9, sass/_blog.scss */
input[type="submit"].searchsubmit:hover {
  background: #80db2f;
  color: #001324; }

/* line 16, sass/_blog.scss */
form[role="search"] input[type="text"] {
  padding: 16px;
  border: none;
  margin: 0;
  border-radius: 4px;
  outline: none;
  border: 2px solid #80db2f; }
/* line 23, sass/_blog.scss */
form[role="search"] input[type="text"]:focus {
  border: 2px solid #001324; }

/*PRE*/
/*blockquotes*/
/* line 33, sass/_blog.scss */
blockquote {
  background: #F7F7F7;
  margin: 0;
  padding: 20px; }

/* line 39, sass/_blog.scss */
blockquote p {
  margin-top: 0; }

/*tables*/
/* line 44, sass/_blog.scss */
table td {
  padding: 10px; }

/* line 48, sass/_blog.scss */
table tr td:first {
  padding-right: 0; }

/*def lists*/
/* line 53, sass/_blog.scss */
dt {
  font-weight: 600;
  padding-bottom: 5px; }

/* line 58, sass/_blog.scss */
dd {
  padding: 10px;
  margin-left: 10px; }

/* =============================================================================
                   Single & Index 
   ========================================================================== */
/* line 67, sass/_blog.scss */
.indexWrapper {
  margin-top: 52px; }

/* line 71, sass/_blog.scss */
.bloghead {
  width: 100%;
  margin: 0 auto;
  margin-top: 52px;
  border-top: 3px solid #80db2f; }
/* line 75, sass/_blog.scss */
.bloghead h2 {
  text-align: center;
  line-height: 51px;
  font-size: 55px;
  margin: 0 auto;
  color: #f6f6f6;
  padding: 20% 0;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6); }

/* line 86, sass/_blog.scss */
.blogWrapper {
  border-top: 3px solid #80db2f;
  border-bottom: 3px solid #80db2f;
  background: linear-gradient(45deg, #f6f6f6 45px, transparent 45px) 64px 64px, linear-gradient(45deg, #f6f6f6 45px, transparent 45px, transparent 91px, #f1f1f1 91px, #f1f1f1 135px, transparent 135px), linear-gradient(-45deg, #f6f6f6 23px, transparent 23px, transparent 68px, #f6f6f6 68px, #f6f6f6 113px, transparent 113px, transparent 158px, #f6f6f6 158px);
  background-color: #f1f1f1;
  background-size: 128px 128px; }
/* line 92, sass/_blog.scss */
.blogWrapper section {
  width: 80%;
  margin: 4% auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  background: #f6f6f6; }
/* line 98, sass/_blog.scss */
.blogWrapper .featuredImage {
  float: left;
  margin-right: 2%;
  max-height: 250px; }
/* line 103, sass/_blog.scss */
.blogWrapper article {
  float: left;
  max-width: 60%; }
/* line 106, sass/_blog.scss */
.blogWrapper article h2 {
  font-size: 32px;
  line-height: 37px;
  margin: 6px 0 0 0; }
/* line 111, sass/_blog.scss */
.blogWrapper article h3 {
  font-size: 23px;
  line-height: 25px;
  margin: 6px 0 0 0; }
/* line 117, sass/_blog.scss */
.blogWrapper a {
  color: #80db2f;
  transition: all 0.6s ease-in-out; }
/* line 120, sass/_blog.scss */
.blogWrapper a:hover {
  color: #001324; }
/* line 124, sass/_blog.scss */
.blogWrapper .entry-content {
  width: 58%;
  margin: 0 auto 3%;
  padding: 1% 3%;
  background: #f6f6f6;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
/* line 130, sass/_blog.scss */
.blogWrapper .entry-content h3, .blogWrapper .entry-content h4, .blogWrapper .entry-content h5, .blogWrapper .entry-content h6 {
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 3px solid #80db2f; }
/* line 135, sass/_blog.scss */
.blogWrapper .entry-content h3:first-child {
  display: block;
  text-align: center;
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  border-bottom: 3px solid #80db2f;
  padding-bottom: 8px; }
/* line 144, sass/_blog.scss */
.blogWrapper .entry-content h4 {
  font-size: 20px; }
/* line 147, sass/_blog.scss */
.blogWrapper .entry-content .wp-caption-text {
  margin: 0;
  font-size: .7em; }
/* line 152, sass/_blog.scss */
.blogWrapper .social {
  text-align: center; }
/* line 154, sass/_blog.scss */
.blogWrapper .social h6 {
  margin-bottom: 5px; }
/* line 157, sass/_blog.scss */
.blogWrapper .social a {
  padding: 1%; }
/* line 160, sass/_blog.scss */
.blogWrapper .social i {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 1%;
  border-radius: 50%;
  color: #80db2f;
  box-shadow: inset 0 0 0 2px #80db2f;
  transition: all 0.4s ease-in-out; }
/* line 169, sass/_blog.scss */
.blogWrapper .social i:hover {
  box-shadow: inset 0 0 0 30px #001324; }

/* line 178, sass/_blog.scss */
svg.sig {
  width: 200px;
  height: 150px; }

@-webkit-keyframes write {
  /* line 184, sass/_blog.scss */
  0% {
    stroke-dasharray: 0 600; }

  /* line 187, sass/_blog.scss */
  100% {
    stroke-dasharray: 600 0; } }
@keyframes write {
  /* line 194, sass/_blog.scss */
  0% {
    stroke-dasharray: 0 600; }

  /* line 197, sass/_blog.scss */
  100% {
    stroke-dasharray: 600 0; } }
/* line 203, sass/_blog.scss */
.signature {
  display: none; }

/* line 207, sass/_blog.scss */
.animate.signature {
  display: block;
  fill: none;
  stroke-width: 2;
  stroke: black;
  animation: write 5s ease-in-out; }

/* line 215, sass/_blog.scss */
.entry-meta {
  margin-left: 5%;
  background: #80db2f;
  display: inline-block;
  padding: 9px 12px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase; }
/* line 223, sass/_blog.scss */
.entry-meta a {
  font-weight: bold;
  color: #001324; }

/* line 229, sass/_blog.scss */
.nav-previous a, .nav-next a {
  border-radius: 4px;
  font-size: 13px;
  margin: 10%;
  color: #80db2f;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out; }
/* line 236, sass/_blog.scss */
.nav-previous a:hover, .nav-next a:hover {
  color: #001324; }

/* line 241, sass/_blog.scss */
.nav-previous {
  float: left;
  width: 25%; }

/* line 246, sass/_blog.scss */
.nav-next {
  float: right;
  width: 25%; }

/* =============================================================================
                   Miscellaneous  
   ========================================================================== */
/* line 254, sass/_blog.scss */
.miss {
  text-align: center;
  width: 58%;
  margin: 0 auto 3%;
  padding: 1% 3%;
  background: #f6f6f6;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }

/* =============================================================================
                   SIDEBAR (blogfooter) 
   ========================================================================== */
/* line 266, sass/_blog.scss */
.blogfooter {
  text-align: center;
  clear: both;
  max-width: 1400px;
  width: 100%;
  margin: 2% auto; }

/* line 274, sass/_blog.scss */
.widgetList {
  list-style: none;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0; }
/* line 280, sass/_blog.scss */
.widgetList a {
  color: #80db2f;
  font-size: 16px; }
/* line 284, sass/_blog.scss */
.widgetList h3 {
  color: #f6f6f6;
  font-size: 18px;
  margin: 0; }
/* line 289, sass/_blog.scss */
.widgetList > li:not(.widget_search) {
  float: left;
  width: 31%;
  margin: 1%; }
/* line 294, sass/_blog.scss */
.widgetList li.widget_search {
  float: right;
  margin-top: 3%; }

/* line 300, sass/_blog.scss */
.widget-container ul {
  padding: 0;
  margin: 0; }

/* line 305, sass/_blog.scss */
.widget_categories li, .widget_tag_cloud li {
  display: inline-block; }

/* line 309, sass/_blog.scss */
.widget_categories li a, .widget_tag_cloud li a {
  position: relative;
  background: #80db2f;
  color: #001324;
  padding: 3px;
  text-transform: uppercase;
  margin: 6px;
  font-size: 11px; }

/* line 319, sass/_blog.scss */
.widget_categories li a:hover, .widget_tag_cloud li a:hover {
  color: #f6f6f6; }

/* line 323, sass/_blog.scss */
.widget_categories li a:before, .widget_tag_cloud li a:before {
  border-top: 10px solid transparent;
  border-right: 8px solid #80db2f;
  border-bottom: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: -8px;
  width: 0; }

/* line 335, sass/_blog.scss */
h2.blogCat {
  font-size: 45px;
  line-height: 51px;
  margin: 2%; }

/* =============================================================================
                  Comment Styling 
   ========================================================================== */
/* line 345, sass/_blog.scss */
.comments {
  clear: both;
  width: 58%;
  margin: 0 auto; }

/* line 351, sass/_blog.scss */
#comments .navigation {
  padding: 0 0 18px; }

/* line 355, sass/_blog.scss */
h3#comments-title, h3#reply-title {
  color: #001324;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0; }

/* line 362, sass/_blog.scss */
h3#comments-title {
  padding: 24px 0; }

/* line 366, sass/_blog.scss */
.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px; }

/* line 375, sass/_blog.scss */
.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0; }

/* line 380, sass/_blog.scss */
#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px; }

/* line 384, sass/_blog.scss */
#comments .comment-body p:last-child {
  margin-bottom: 6px; }

/* line 388, sass/_blog.scss */
#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px; }

/* line 392, sass/_blog.scss */
.commentlist ol {
  list-style: decimal; }

/* line 396, sass/_blog.scss */
.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0; }

/* line 402, sass/_blog.scss */
.comment-author cite {
  color: #001324;
  font-style: normal;
  font-weight: 700; }

/* line 408, sass/_blog.scss */
.comment-author .says {
  font-style: italic; }

/* line 412, sass/_blog.scss */
.comment-meta {
  font-size: 14px;
  margin: 0 0 5px; }

/* line 417, sass/_blog.scss */
.comment-meta a:link, .comment-meta a:visited {
  color: #888888;
  text-decoration: none; }

/* line 422, sass/_blog.scss */
.reply {
  font-size: 14px;
  padding: 0 0 24px; }

/* line 427, sass/_blog.scss */
.reply a, a.comment-edit-link {
  color: #001324; }

/* line 431, sass/_blog.scss */
.commentlist .children li {
  border: none;
  margin: 0; }

/* line 436, sass/_blog.scss */
#comments .pingback {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e7e7e7; }

/* line 442, sass/_blog.scss */
.commentlist li.comment + li.pingback {
  margin-top: -6px; }

/* line 446, sass/_blog.scss */
#comments .pingback p {
  color: #001324;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0; }

/* line 454, sass/_blog.scss */
#comments .pingback .url {
  font-style: italic;
  font-size: 13px; }

/* line 459, sass/_blog.scss */
.comment-form input[type=submit] {
  background: none;
  font-weight: 700;
  border: 2px solid #80db2f;
  color: #001324;
  width: 98%;
  border: 2px soild #80db2f;
  font-size: 16px;
  margin: 1% 0; }
/* line 469, sass/_blog.scss */
.comment-form input[type=submit]:hover {
  background: #80db2f;
  border: 2px soild #001324; }

/* line 475, sass/_blog.scss */
.comment-form input[type="text"], .comment-form textarea {
  padding: 16px;
  border: none;
  margin: 0;
  border-radius: 4px;
  outline: none;
  border: 2px solid #80db2f; }
/* line 482, sass/_blog.scss */
.comment-form input[type="text"]:focus, .comment-form textarea:focus {
  border: 2px solid #001324; }

/* line 487, sass/_blog.scss */
#respond {
  margin-top: 24px;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  position: relative; }

/* line 494, sass/_blog.scss */
#respond .comment-notes {
  margin-bottom: 1em; }

/* line 498, sass/_blog.scss */
.form-allowed-tags {
  line-height: 1em; }

/* line 502, sass/_blog.scss */
.children #respond {
  margin: 0 48px 0 0; }

/* line 506, sass/_blog.scss */
h3#reply-title {
  margin: 18px 0; }

/* line 510, sass/_blog.scss */
#comments-list #respond {
  margin: 0 0 18px; }

/* line 514, sass/_blog.scss */
#cancel-comment-reply-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; }

/* line 520, sass/_blog.scss */
#respond .required {
  color: #80db2f;
  font-weight: 700; }

/* line 525, sass/_blog.scss */
#respond label {
  color: #001324;
  font-size: 14px; }

/* line 530, sass/_blog.scss */
#respond input {
  width: 98%; }

/* line 534, sass/_blog.scss */
#respond textarea {
  width: 98%; }

/* line 538, sass/_blog.scss */
#respond dt, #respond dd {
  color: #001324;
  font-size: 14px;
  line-height: 18px; }

/* line 544, sass/_blog.scss */
#respond dd code {
  font-size: 11px; }

/* line 548, sass/_blog.scss */
#respond dl {
  margin: 0 0 10px; }

/* line 552, sass/_blog.scss */
#respond dt {
  display: inline;
  font-weight: 400; }

/* line 557, sass/_blog.scss */
#respond dd {
  display: inline; }

/* line 561, sass/_blog.scss */
p.form-allowed-tags, .nocomments {
  display: none; }

/* line 565, sass/_blog.scss */
.commentlist, .commentlist .children {
  list-style: none;
  margin: 0; }

/* line 570, sass/_blog.scss */
.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #80db2f; }

/* line 574, sass/_blog.scss */
#respond p, #comments-list ul #respond {
  margin: 0; }

@media all and (max-width: 1000px) {
  /* line 4, sass/_mediaqueries.scss */
  .contact ul li {
    padding: 0 1% 0 0; }

  /* line 9, sass/_mediaqueries.scss */
  .infographicWrap {
    width: 48%; }

  /* line 14, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper section {
    width: 100%; }

  /* line 19, sass/_mediaqueries.scss */
  .blogWrapper .entry-content {
    width: 80%; } }
@media (max-width: 850px) {
  /* line 27, sass/_mediaqueries.scss */
  nav ul.menu li a {
    font-size: 16px; }

  /* line 31, sass/_mediaqueries.scss */
  .contact h2 {
    font-size: 46px; }
  /* line 34, sass/_mediaqueries.scss */
  .contact ul {
    padding: 33px 86px; }
  /* line 37, sass/_mediaqueries.scss */
  .contact ul li svg {
    width: 45px;
    height: 45px; }
  /* line 44, sass/_mediaqueries.scss */
  .contact .fa-3x {
    font-size: 2em; }

  /* line 48, sass/_mediaqueries.scss */
  .centerServ {
    width: 100%; }

  /* line 52, sass/_mediaqueries.scss */
  ul.filters li button, ul.filters li input[type="submit"].searchsubmit, ul.filters li .comment-form input[type=submit], .comment-form ul.filters li input[type=submit] {
    padding: 6px 0px;
    font-size: 11px; }

  /* line 57, sass/_mediaqueries.scss */
  .centerContent {
    width: 100%; }

  /* line 62, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper article {
    max-width: 50%; }
  /* line 64, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper article h2 {
    font-size: 23px;
    line-height: 25px; }
  /* line 68, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper article h3 {
    font-size: 16px;
    line-height: 18px; } }
@media (max-width: 700px) {
  /* line 80, sass/_mediaqueries.scss */
  nav ul.menu li a {
    font-size: 14px; }

  /* line 83, sass/_mediaqueries.scss */
  .innerWrapper {
    width: 100%; }

  /* line 87, sass/_mediaqueries.scss */
  .contact h2 {
    padding: 20px 30px 0 0; }
  /* line 90, sass/_mediaqueries.scss */
  .contact ul {
    text-align: center;
    padding: 0;
    clear: both; }

  /* line 97, sass/_mediaqueries.scss */
  .aboutHeadlines h1 {
    font-size: 55px; }
  /* line 100, sass/_mediaqueries.scss */
  .aboutHeadlines h3 {
    font-size: 20px; }

  /* line 104, sass/_mediaqueries.scss */
  .spacer h2 {
    padding: 0 5%; }

  /* line 107, sass/_mediaqueries.scss */
  ul.filters li button, ul.filters li input[type="submit"].searchsubmit, ul.filters li .comment-form input[type=submit], .comment-form ul.filters li input[type=submit] {
    font-size: 10px; }

  /* line 110, sass/_mediaqueries.scss */
  .col3 {
    width: 50%; }
  /* line 112, sass/_mediaqueries.scss */
  .col3.other {
    width: 100%; }
  /* line 114, sass/_mediaqueries.scss */
  .col3.other h5 {
    margin: 0 auto; }
  /* line 118, sass/_mediaqueries.scss */
  .col3.other li {
    width: 50%;
    float: left; } }
@media screen and (max-width: 650px) {
  /* line 130, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper section {
    text-align: center;
    max-width: 300px;
    text-align: left; }
  /* line 135, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper .featuredImage {
    float: none;
    display: block;
    margin-right: 0;
    margin: 0 auto; }
  /* line 141, sass/_mediaqueries.scss */
  .indexWrapper .blogWrapper article {
    padding: 2%;
    float: none;
    max-width: 100%;
    margin: 0 auto; }

  /* line 149, sass/_mediaqueries.scss */
  .blogWrapper .entry-content {
    width: 90%; }

  /* line 152, sass/_mediaqueries.scss */
  .comments {
    width: 90%; }

  /* line 156, sass/_mediaqueries.scss */
  .widgetList li.widget_recent_entries {
    width: 100%;
    float: none;
    margin: 1% 0; }
  /* line 161, sass/_mediaqueries.scss */
  .widgetList li.widget_categories, .widgetList li.widget_tag_cloud {
    width: 47%; }

  /* line 165, sass/_mediaqueries.scss */
  .service h3.serviceHeader {
    font-size: 1.2em; } }
@media screen and (max-width: 550px) {
  /* line 171, sass/_mediaqueries.scss */
  nav ul.menu li a {
    font-size: 10px; }

  /* line 175, sass/_mediaqueries.scss */
  .aboutHeadlines h1 {
    font-size: 35px; }
  /* line 178, sass/_mediaqueries.scss */
  .aboutHeadlines h3 {
    font-size: 15px; }

  /* line 182, sass/_mediaqueries.scss */
  .infographicWrap {
    width: 100%; }

  /* line 186, sass/_mediaqueries.scss */
  .service h3.serviceHeader {
    font-size: 1em; }

  /* line 191, sass/_mediaqueries.scss */
  button.quote a, input.quote[type="submit"].searchsubmit a, .comment-form input.quote[type=submit] a {
    font-size: 14px; }

  /* line 195, sass/_mediaqueries.scss */
  .col3 {
    width: 100%; }
  /* line 198, sass/_mediaqueries.scss */
  .col3.other li {
    width: 100%;
    float: none; }
  /* line 202, sass/_mediaqueries.scss */
  .col3.other h5 {
    float: none; }
  /* line 206, sass/_mediaqueries.scss */
  .col3 li {
    padding: 2.5%; }
  /* line 209, sass/_mediaqueries.scss */
  .col3 h5 {
    float: none;
    font-size: 16px; }
  /* line 213, sass/_mediaqueries.scss */
  .col3 a {
    font-size: 15px; }

  /* line 217, sass/_mediaqueries.scss */
  .service h3.serviceHeader {
    font-size: 0.9em; } }
@media screen and (max-width: 400px) {
  /* line 223, sass/_mediaqueries.scss */
  nav ul.menu li {
    padding: 0; }
  /* line 225, sass/_mediaqueries.scss */
  nav ul.menu li a {
    font-size: 8px; }

  /* line 229, sass/_mediaqueries.scss */
  .photoContainer {
    margin: 20%; }

  /* line 233, sass/_mediaqueries.scss */
  .contact h2 {
    padding: 20px 30px 0 0; }
  /* line 236, sass/_mediaqueries.scss */
  .contact ul {
    text-align: center;
    padding: 0;
    clear: both; }
  /* line 241, sass/_mediaqueries.scss */
  .contact ul li svg {
    width: 35px;
    height: 35px; }
  /* line 248, sass/_mediaqueries.scss */
  .contact .fa-3x {
    font-size: 1.7em; }
  /* line 251, sass/_mediaqueries.scss */
  .contact a.close {
    right: -8px;
    top: -12px; }

  /* line 257, sass/_mediaqueries.scss */
  h2 {
    font-size: 50px; }

  /* line 260, sass/_mediaqueries.scss */
  .about {
    padding-bottom: 6%;
    background-position: 115% 90%; }
  /* line 263, sass/_mediaqueries.scss */
  .about img {
    display: none; }
  /* line 266, sass/_mediaqueries.scss */
  .about h1 {
    font-size: 30px; }
  /* line 269, sass/_mediaqueries.scss */
  .about h3 {
    color: #f6f6f6;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }

  /* line 274, sass/_mediaqueries.scss */
  .wrapper {
    padding: 5% 2%; }

  /* line 277, sass/_mediaqueries.scss */
  .ui-accordion .ui-accordion-content {
    padding: 1em 0.6em; }

  /* line 280, sass/_mediaqueries.scss */
  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none; }

  /* line 283, sass/_mediaqueries.scss */
  footer .siteAbout {
    width: 100%; } }
